---
import Base from "@/layouts/Base.astro";
import { createRequire } from 'module';
import SigninSlider from "@/layouts/function-components/SigninSlider.jsx";
import { Phone } from "react-feather";
import Notice from "@/shortcodes/Notice";

const require = createRequire(import.meta.url);
const stripe = require('stripe')(process.env.VITE_STRIPE_KEY);
const errors = { username: "", email: "", password: "" };

if (Astro.request.method === 'POST') {
  // parse form data
  const formData = await Astro.request.formData();
  const email = formData.get('email');
  const password = formData.get('password');


  const customers = await stripe.customers.search({
    query: `email:\'${email}\'`,
  });
  console.log(customers);
  if (customers["data"].length >0 ) { 
    const customer = customers["data"][0];
    const customer_id = customer["id"];
    const customer_email = customer["email"];
    const customer_password = customer["metadata"]["password"];
    if (customer_email === email && customer_password === password) {
      Astro.cookies.set("id",customer_id);
      return Astro.redirect("/portal");
    }else{
      errors.password += "Password is incorrect. Email info@stembotics.org to change it.";
    }
  } else{
    errors.username += "Email is not registered.";
  }
}
---

<Base>
  <section>
    <div class="container max-w-full">
      <div class="row">
        <div class="min-h-[980px] bg-white py-10 lg:col-6 lg:py-[114px]">
          <div class="mx-auto w-full max-w-[480px]">
            <img class="mb-8" src="/images/flower.png" alt="" />
            <h1 class="mb-4">Sign In</h1>
            <br>
            <form  method="post" enctype="application/x-www-form-urlencoded" data-netlify="true"> 
              <div class="form-group">
                <label for="email" class="form-label">Email Address</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control"
                  placeholder="Your Email Address"
                  required
                  />
                  {errors.username && <Notice type="warning">{errors.username}</Notice>}
                </div>
                <br>
                <div class="form-group mt-4">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control"
                  placeholder="Your Password"
                  required
                />
                {errors.password && <Notice type="warning">{errors.password}</Notice>}
                
              </div>
              <input
                class="btn btn-primary mt-10 block w-full"
                type="submit"
                value="Sign In"
              />
              <p class="mt-6 text-center">
                Can't <a class="text-dark">log in</a>?
                <a class="text-dark" href="/signup">Sign up</a> for create account
              </p>
            </form>
          </div>
        </div>
        <SigninSlider
          client:load
          title=" Turn your All ideas into<br /> your reality"
        />
      </div>
    </div>
  </section>
</Base>
